.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.inputs label {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 2%;
}

.errors {
  margin: 1% 0 2%;
  color: red;
  font-weight: bold;
}

.user-container {
  margin-bottom: 1%;
  margin-left: 10%;
  text-align: left;
  width: 80%;
  border: 2px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
